<div class="container-fluid main-container">
  <div class="col-md-offset-2 col-md-8 content">
    <div class="panel panel-defaul">
      <div class="panel-heading">
        <h1>Author</h1>
      </div>
    
      <div class="panel-body">
        <%= form_with(model: author, class: 'form') do |f| %>
          <% if author.errors.any? %>
            <div style="form-group col-md-or: red">
              <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

              <ul>
                <% author.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-row">
            <div class="form-group col-md-12">
              <%= f.label :name, 'Name' %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <%= f.label :site, 'Site' %>
              <%= f.text_field :site, class: 'form-control' %>
            </div>

            <div class="form-group col-md-6">
              <%= f.label :email, 'E-mail' %>
              <%= f.text_field :email, class: 'form-control' %>
            </div>
          </div>
      
          <div class="form-row">
            <div class="form-group col-md-12">
              <%= f.label :profile, 'Profile' %>
              <%= f.text_area :profile, class: 'form-control', rows: "8" %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <%= link_to "Back", posts_path, class: 'btn btn-primary pull-left' %>
            
              <%= f.submit 'Create', class: 'btn btn-primary pull-right' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
