<div class="container-fluid main-container">
  <div class="col-md-offset-2 col-md-8 content">
    <div class="panel panel-defaul">
      <div class="panel-heading">
        <h1>Article</h1>
      </div>
    
      <div class="panel-body">
        <%= form_with(model: post, class: 'form') do |f| %>
          <% if post.errors.any? %>
            <div style="color: red">
              <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

              <ul>
                <% post.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-row">
            <div class="form-group col-md-8">
              <%= f.label :title, 'Title' %>
              <%= f.text_field :title, class: 'form-control' %>
            </div>

            <div class="form-group col-md-4">
              <div>
                <%= f.label :tag_id, 'Tag' %>
                <%= f.select :tag_id,
                             options_from_collection_for_select(Tag.all, :id, :name),
                             {prompt: "Select a tag"}, class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <%= f.label :content, 'Article Content' %>
              <%= f.text_area :content, class: 'form-control', rows: "8" %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <%= link_to "Back", posts_path, class: 'btn btn-primary pull-left' %>

              <%= f.submit 'Create', class: 'btn btn-primary pull-right' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
