<nav class="navbar navbar-expand-lg navbar-inverse">
  <%= link_to "Simple Blog", root_path, class: "navbar-brand", id: "logo" %>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><%= link_to "Articles", posts_path, class:'nav-link' %></li>
      <li class="nav-item"><%= link_to "Authors", authors_path, class:'nav-link' %></li>
      <li class="nav-item"><%= link_to "Tags", tags_path, class:'nav-link' %></li>
    </ul>

    <%= form_tag filter_posts_url,
                 action: :filter,
                 id: 'nav_search',
                 method: :post,
                 remote: true,
                 class: 'form-inline my-2 my-lg-0' do %>

       <%= text_field_tag :search, nil, { class: 'form-control mr-sm-2', placeholder: 'Search' } %>

      <%= submit_tag 'Search', class: 'btn btn-default my-2 my-sm-0' %></div>
    <% end %>

    <ul class="navbar-nav pull-right">
      <% if user_signed_in? %>
        <li><%= link_to "New Post", new_post_path, class: "btn"%></li>
        <li><%= button_to "Log Out", destroy_user_session_path, method: :delete, remote: true, class: "btn btn-link" %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path, class: "btn"%></li>
      <% end %>
    </ul>
  </div>
</nav>

